.navigation {
    display:grid;
    display:flex;
    grid-template-areas: "logo nav"
}
.navList {
    display: flex;
    background-color:#B4C3D1;
    Padding: 0;
    Margin:0;
    list-style-type: none;
    height: 100%;
    grid-area: "nav";
    justify-content: space-evenly;
   
}
    
#logo {
    width: 20%;
    text-align: center;
    padding-top: 20px;
    background-color: #B4C3D1;
    height: 70px;
    grid-area: "logo"
}

nav {
    width: 80%;
}
ul li {
    padding-top: 50px
}

.heroImg {
    height:600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
/* <!--  My UX Skills section coded using CSS flex --> */
div.flexContainer {
    padding: 20px 50px;
    display:flex;
    display:grid;
    align-items: stretch;
    flex:100%;
    grid-template-areas: "a1 a2 a3"
    "a4 a5 a6"
}
.skills {padding: 5px 10px;
    height: 1}
 #skill1, #skill2, #skill3, #skill4, #skill5, #skill6 {
     width:100%;
     flex-grow:1;
 }
#skill1 {grid-area: a1;}
#skill2 {grid-area: a2;}
#skill3 {grid-area: a3;}
#skill4 {grid-area: a4;}
#skill5 {grid-area: a5;}
#skill6 {grid-area: a6;}
section ul {
      width: 96%;
 padding-left: 10px;}
#skill7 {padding-left: 50px}
#skill8 { padding-left: 50px;
}
h1 {text-align: center;}
h2 {padding-left: 50px}
footer {
    background-color:#B4C3D1;
    padding: 0;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    display: flex;
    background-color:#B4C3D1;
    Padding: 0;
    Margin:0;
    list-style-type: none;
}
.footerContainer {
    display: grid;
    display: flex;
    list-style-type: none;
    grid-template-columns: "footercontact" "footersocial";
    justify-content: space-evenly;
   
    /* grid-template-areas: "footercontact" "footersocial"; */

}
.contactContainer{
width: 50%
}
.contactContainer h3{
    text-align: center;
    grid-area: footercontact;
}
.contactContainer li {
    padding: 50px;
}
.socialContainer li{
    padding:0;
    margin: 0;
}
.socialContainer{
    display: grid;
    grid-template-areas: "footersocial" "footersocial" "footersocial" 
    "be" "link" "grid";
}
.socialContainer h3{
    grid-area: footersocial;
    text-align: center;
}
#behance img {
    grid-area: be;
    height: 50px;
    width: 50px;
    padding-left: 50px;
}
#linkedin img {
    grid-area: link;
    height: 50px;
    width: 50px;
    padding-left: 0px;
}
#github img {
    grid-area: git;
    height: 50px;
    width: 50px;
    padding-left: 50px;
}
#name {
font-size: larger;
font-weight: bold ;
}
#email{
font-size: larger;
font-weight: bold;
}